/* noto-serif-devanagari-regular - devanagari_latin_latin-ext */
@font-face {
    font-family: 'Siddhanta';
    src: url('siddhanta.ttf') format('truetype');
    
}

* {
  font-family: 'Siddhanta';
  font-size: 16px;
  text-align: justify;
}
