/* noto-serif-devanagari-regular - devanagari_latin_latin-ext */
@font-face {
    font-family: 'Siddhanta';
    src: url('vedakshar.otf') format('truetype');
}

* {
    font-family: 'Vedakshar';
    text-align: justify;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 5.653rem;
}

h2 {
    font-size: 3.998rem;
}

h3 {
    font-size: 2.827rem;
}

h4 {
    font-size: 1.999rem;
}

h5 {
    font-size: 1.414rem;
}

h6 {
    font-size: 1rem;
}

div, span {
    font-size: 1rem;
    font-weight: bold;
}
