/* noto-serif-devanagari-regular - devanagari_latin_latin-ext */
@font-face {
    font-family: 'Siddhanta';
    src: url('siddhanta.ttf') format('truetype');
}

* {
  font-family: 'Siddhanta';
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 14px;
}
body {
  padding: 16px;
}

.table-container {
  overflow: auto;
  width: 100%;
}

/* Style for the table */
table {
  width: auto; /* Allow the table to be as wide as its content */
  table-layout: fixed; /* Lock the table layout to avoid automatic column resizing */
  /*     border-collapse: collapse; /* Collapse table borders */
  border: 1px solid #000;
}

/* Style for the table header */
thead th {
  background-color: #f0f0f0; /* Background color for header cells */
  border: 1px solid #000;
}

/* Style for the first column (make it sticky) */
th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1; /* Ensure it appears above other cells when scrolling */
  background-color: #fff; /* Optional: Add a white background to hide underlying cells */
  border: 1px solid #000;
}

/* Style for other cells */
th,
td {
  padding: 8px;
  border: 1px solid #000; /* Optional: Add cell borders */

  text-align: center;
}
#romin,
#devout {
  width: 97.75%;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
}
